html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

body {
    font-family: Handjet, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    width: 600px;
    background-color: red;
}

h1 {
    font-size: 60px;
    color: white;
    margin: 10px 0px 5px;
    padding: 0;
}

.sizeopt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0px 10px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.displaysize {
    font-size: 24px;
    margin: 5px 0px 5px;
    padding: 0;
    font-weight: bold;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin-top: -5px;
}

button {
    margin: 20px 0px 40px;
    font-family: Handjet, sans-serif;
    border-radius: 10px;
    font-size: 40px;
}

#black {
    color: white;
    background-color: black;
}

#erasor {
    background-color: palevioletred;
}

#rainbow {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
}

#rainbow:hover {
    animation: flash 2s linear infinite;
}

@keyframes flash {
    to {
        background-position: 120px;
    }
}